*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #293264;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.6rem;
}

/* Title */
.title {
  position: relative;
}
.title--line {
  width: 100px;
  height: 5px;
  background: lightcyan;
  border-radius: 20px;
  position: absolute;
  top: 85%;
  left: 3%;
}

/* Block Start */

.block--start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.start__title {
  margin-bottom: 0;
}

.start__desc {
  margin-top: 0;
  font-size: 1.6rem;
}

.start--top-img {
  position: absolute;
  top: -1rem;
  right: -1rem;
  transform: scale(0.85);
}

.start--bottom-img {
  position: absolute;
  bottom: -4rem;
  left: -1rem;
  transform: scale(0.85);
  display: none;
}

/* Buttons */

.btn {
  font-family: "Inter", sans-serif;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  border: 0.794239px solid #4d5b9e;
}

.btn--primary {
  color: #293264;
  background: white;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
}
.btn--primary:hover {
  background: #4d5b9e;
  color: white;
}
.btn--secondary {
  background: #4d5b9e;
  color: white;
}
.btn--secondary:hover {
  background: white;
  color: #4d5b9e;
}

.start__btn {
  padding: 1.5rem 3rem;
  width: 193px;
  border-radius: 15px;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.submit {
  padding: 1rem;
}

/* Question Block */

.questions__container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.questions__container .submit,
.score {
  align-self: center;
  margin-top: 1rem;
}

.question--answers {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.answer:first-of-type {
  margin-left: 0;
}

.question hr {
  margin-top: 3.5rem;
}
.question {
  margin: 1rem 0;
}

#loading {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
  width: 300px;
}

.answer {
  color: #293264;
  background: white;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  border: 0.794239px solid #4d5b9e;
}

.question--answers input {
  display: none;
}

@media screen and (min-width: 600px) {
  .container {
    padding-top: 4rem;
  }
  .question {
    margin: 1.5rem 0;
  }
  .question hr {
    margin-top: 4rem;
  }
  .start--top-img {
    top: 0;
    right: 0;
    transform: scale(1);
  }
}

@media screen and (min-width: 760px) {
  .start--bottom-img {
    display: block;
    position: fixed;
    bottom: 0%;
    left: 0%;
    transform: scale(1);
  }
}
